* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body,
html {
  color: white;
  background-color: #111;
}

.box{

  height: 250px;
  width: 200px;
  background-color: yellow;
}