* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body,
html {
  color: white;
  background-color: #111;
}

.parent {
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  min-height: 100vh;
  width: 100%;
  padding: 30px 20px;
  display: flex;
  gap: 20px;
}

.card {
  height: 350px;
  width: 300px;
  border-radius: 15px;
  background-color: white;
  padding: 30px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid #dadada;
}

.top button {
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 3px 6px;
  font-size: 10px;
  border-radius: 5px;
  gap: 3px;
  background-color: transparent;
  color: #8b8b8b;
}

.center h3 {
  font-size: 25px;
  font-weight: 900;
}

.center h3 span {
  font-size: 10px;
  font-weight: 400;
  color: #8b8b8b;
}

.center h1 {
  font-size: 20px;
}

.center div {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
}

.center div h3 {
  font-size: 12px;
  background-color: #dadada;
  color: #111;
  font-weight: 500;
  padding: 3px 5px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #b1b1b1;
  padding: 10px 0;
}

.bottom button {
  background-color: #000;
  color: #fff;
  padding: 5px;
  font-weight: 600;
  font-size: 15px;
  border-radius: 4px;
  border: none;
}

.bottom h2 {
  font-size: 20px;
}

.bottom p {
  font-size: 14px;
  color: #b1b1b1;
}
