* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body,
html {
  color: white;
  background-color: #111;
}

.parent{
  display: flex;
  flex-wrap: wrap;
    gap: 20px;

}


.card{

  padding: 20px 10px;
  text-align: center;
  width: 200px;
  border: 1px solid #aaa;
  border-radius: 10px;
}

.card img{
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
}
.card p {
  padding: 10px;
}

.card button{
  background-color: rgb(215, 215, 61);
  padding: 5px;
  border: none;
  border-radius: 10px;
  font-weight: 900;

}
